<%if current_user && current_user.tweets.all.count > 0 %>
  <table class = "table table-bordered" id = "trends">
  	<tr id = "table-head">
  		<th>topic</th>
  		<th>count</th>
  	</tr>
    <% i = 25 %>
    <% @trending.each do |trend, count| %>
    	<tr class = "table-topics">
      	<td class = <%= "trend-#{i}" %>><%= trend %></td>
      	<td class = <%= "trend-#{i}" %>><%= count %></td>
        <% i -= 1 %>
      </tr>
    <% end %>
  </table>
<% end %>