<%if current_user && current_user.tweets.all.count > 0 %>
  <table id = "trends">
  	<tr>
  		<th>Topic</th>
  		<th>Count</th>
  	</tr>
    <% i = 25 %>
    <% @trending.each do |trend, count| %>
    	<tr>
      	<td class = <%= "trend-#{i}" %>><%= trend %></td>
      	<td class = <%= "trend-#{i}" %>><%= count %></td>
        <% i -= 1 %>
      </tr>
    <% end %>
  </table>
<% end %>